@import "tailwindcss";

@layer base {
  html, body {
    @apply bg-slate-900 text-slate-100 min-h-screen m-0 p-0;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  #root {
    @apply min-h-screen flex flex-col;
  }
}
